{% extends 'admin/layouts/layout.twig' %}

{% block body %}
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Dashboard Template </h2>
                        <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Dashboard Template</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <div class="ecommerce-widget">
                <!-- recent orders  -->
                <!-- ============================================================== -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Recent Users</h5>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-light">
                                    <tr class="border-0">
                                        <th class="border-0">#</th>
                                        <th class="border-0">Image</th>
                                        <th class="border-0"> Name</th>
                                        <th class="border-0">Email</th>
                                        <th class="border-0">Mobile</th>
                                        <th class="border-0">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set id = 0 %}
                                    {% for user in users %}
                                        {% set id = id + 1 %}
                                    <tr>
                                        <td>{{ id }}</td>
                                        <td>
                                            <div class="m-r-10"><img src="images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td>{{ user.name }} </td>
                                        <td>{{ user.email }} </td>
                                        <td>{{ user.mobile }}</td>
                                        <td>{{ user.status }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end recent orders  -->
            </div>

            <div class="ecommerce-widget">
                <!-- recent orders  -->

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Contacts</h5>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-light">
                                    <tr class="border-0">
                                        <th class="border-0">#</th>
                                        <th class="border-0">Image</th>
                                        <th class="border-0"> Name</th>
                                        <th class="border-0">Email</th>
                                        <th class="border-0">Mobile</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set id = 0 %}
                                    {% for contact in contacts %}
                                        {% set id = id + 1 %}
                                        <tr>
                                            <td>{{ id }}</td>
                                            <td>
                                                <div class="m-r-10"><img src="images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                            </td>
                                            <td>{{ contact.name }} </td>
                                            <td>{{ contact.email }} </td>
                                            <td>{{ contact.mobile }}</td>

                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end recent orders  -->
            </div>

            <div class="ecommerce-widget">
                <!-- recent orders  -->
                <!-- ============================================================== -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Contacts</h5>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-light">
                                    <tr class="border-0">
                                        <th class="border-0">#</th>
                                        <th class="border-0">Image</th>
                                        <th class="border-0"> Name</th>
                                        <th class="border-0">Email</th>
                                        <th class="border-0">Mobile</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set id = 0 %}
                                    {% for contact in contacts %}
                                        {% set id = id + 1 %}
                                        <tr>
                                            <td>{{ id }}</td>
                                            <td>
                                                <div class="m-r-10"><img src="images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                            </td>
                                            <td>{{ contact.name }} </td>
                                            <td>{{ contact.email }} </td>
                                            <td>{{ contact.mobile }}</td>

                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end recent orders  -->
            </div>


{% endblock %}
